amqp==5.0.6
billiard==3.6.4.0
cachetools==4.2.2
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
dataclasses==0.8
fastapi==0.65.1
h11==0.12.0
httptools==0.1.2
idna==2.10
importlib-metadata==4.0.1
kombu==5.0.2
premailer==3.8.0
prompt-toolkit==3.0.18
pydantic==1.8.2
pydisque==0.1.5
python-dotenv==0.17.1
pytz==2021.1
PyYAML==5.4.1
redis==3.5.3
rejson==0.5.4
requests==2.25.1
six==1.16.0
starlette==0.14.2
typing-extensions==3.10.0.0
urllib3==1.26.4
uvicorn==0.13.4
uvloop==0.14.0
vine==5.0.0
watchgod==0.7
wcwidth==0.2.5
websockets==8.1
zipp==3.4.1
